header {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #de5dde;
  background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
}

h2 {
  margin: 0em;
  padding: 0em;
}