form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1em;
}

button {
  background-color: plum;
}
.submission-button {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee";
  margin-top: 13px;
}

#tweet-text {
  background-color: transparent;
  border-style: none;
  border-bottom: 3px solid plum;
}




