form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1em;
  opacity: .7;
  font-weight: 300;
}

.error-message {
  display: flex;
  font-style: bold;
  color: crimson;
  border: 2px solid crimson;
  box-shadow: none;
  padding: 0.2em;
  margin-top: 0.5em;
  opacity: .9;
  border-radius:.2em;
  justify-content: space-between;
  font-size: medium;
}

button {
  background-color: plum;
}
.submission-button {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee";
  margin-top: 13px;
}

#tweet-text {
  background-color: transparent;
  border-style: none;
  border-bottom: 3px solid plum;
}




