#tweets-container {
  display: flex;
  flex-direction: column-reverse;
}

article.tweet {
  display: flex;
  border: 3px solid plum;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 0.5em;
  flex-direction: column;
  font-weight: 300;
  font-size: large;
  border-radius: 0.5em;
}

article.tweet header {
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  opacity: 0.2;
}

article.tweet footer {
  display: flex;
  font-size: x-small;
  justify-content: space-between;
}

article.tweet p {
  width: 100%;
  border-style: none;
  border-bottom: 3px solid plum;
  display: flex;
  align-self: center;
  padding: 0.5em;
}

article.tweet div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

article.tweet i {
  padding: 0.2em;
}

article.tweet img {
  width: 3em;
  padding-right: 0.5em;
}
